<html>
<head>
	<title></title>
</head>

<body>
	<h1>Add a new Puppy!</h1>
	<form action="{{url_for('addNewPuppy', shelter_id = shelter.id)}}" method='post'>
	  <table>
		<tr><td><input name='name' type='text' placeholder='enter puppy name'/></td></tr>
		<tr><td><input name='weight' type='text' placeholder='enter weight'/></td></tr>
		<tr><td><input name='age' type='text' placeholder='enter age'/></td></tr>
		<tr><td>German Shepherd<input name='breed' type='radio'/></td>
			<td>Lebrodor<input name='breed' type='radio' value="Lebrodor"/></td>
			<td>Pug<input name='breed' type='radio'value="Pug"/></td>
			<td>Tibeten Mastiff<input name='breed' type='radio'value="Tibeten Mastiff"/></td>
			<td>Bulldog<input name='breed' type='radio'value="Bulldog"/></td>
			<td>Doberman<input name='breed' type='radio'value="Doberman"/></td>
		</tr>
		<tr><td>Female<input name='gender' type='radio' value="Female"/></td>
			<td>Male<input name='gender' type='radio' value="Male"/></td></tr>
		<tr><td><input type='submit' value='Create'/></td></tr>
	  </table>
	</form>
</body>
</html>