<html>
<head>
	<title></title>
</head>

<body>
	<a href="{{url_for('addNewPuppy', shelter_id = shelter.id)}}">Add a new Puppy!</a>
	<a href="{{url_for('updateShelter', shelter_id = shelter.id)}}">Update Your Shelter!</a>
	<br>
	<br>
	<h1>{{shelter.name}}'s Puppies</h1>
	<table border="1" style="width:100%; border-collapse: collapse">
		<tr>
			<th>Name</th>
			<th>Gender</th>
			<th>Breed</th>
			<th>Weight</th>
			<th>Age</th>
			<th>Adopt Puppy</th>
		</tr>
		{% for pup in puppies %}
			<tr>
				<td><a href="{{url_for('puppyProfile',shelter_id = shelter.id, puppy_id = pup.id)}}">{{pup.name}}</a></td>
				<td>{{pup.gender}}</td>
				<td>{{pup.breed}}</td>
				<td>{{pup.weight}}</td>
				<td>{{pup.age}}</td>
				<td><a href="{{url_for('deletePuppy',shelter_id = shelter.id, puppy_id = pup.id)}}">Remove {{pup.name}}</a>
			</tr>
		{% endfor %}
	</table>
</body>
</html>